/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-mar-2016, 19:06:10
    Author     : Super
*/

.respuestas label {
    display: block;
    padding-left: 5px;
    text-indent: 0px;
    padding-bottom: 5px;

}
.respuestas input {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.error
{
    color: red;
}

.correcto
{
    color: green;
}